 <div align="center" class="center1">
    <div class="gap" style="display: inline-block; position: relative;">
        <a href="#weather">
          <div class="m"><img class="icons" src="images/weather.svg"> </div>
          <div class="l "></div>
          <div class="r "></div>
        </a>
    </div>
    <div class="gap" style="display: inline-block; position: relative;">
        <a href="#">
          <div class="m"><img class="icons" src="images/menuOptions.png"> </div>
          <div class="l"></div>
          <div class="r"></div>
        </a>
    </div>
    <div class="gap" style="display: inline-block; position: relative;">
        <a href="#">
          <div class="m">Pa</div>
          <div class="l"></div>
          <div class="r"></div>
        </a>
    </div>
</div>
<div align="center" class="center2">
    <div class="gap" style="display: inline-block; position: relative;">
        <a href="#">
          <div class="m">Pa</div>
          <div class="l"></div>
          <div class="r"></div>
        </a>
    </div>
    <div class="gap" style="display: inline-block; position: relative;">
        <a href="#">
          <div class="m">Pa</div>
          <div class="l"></div>
          <div class="r"></div>
        </a>
    </div>
</div>
